@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}
.port-nav--container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.port-nav--logo-main {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    color: #1e5d72;
}
.port-nav--logo-main span {
    color: #783c28;
}
.port-nav--menu {
    display: flex;
    align-items: center;
}
.port-nav--menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 370px;
}
.port-nav--menu ul li a {
    text-decoration: none;
    background-color: #eaeaea;
    font-weight: bold;
    color: #783c28;
    font-size: 1em;
    border-radius: 5px;
    padding: 0.3em 1.5em 0.3em 1.5em;
}
.port-nav--menu ul li a:hover {
    background-color: #783c28;
    color: #ffffff;
}
.port--main-bg-top {
    background-color: #44aaff;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    height: 500px;
    background-image: url("./assets/emma-howell-bold-paletteAbstract.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.port--main-bg-top--rig-col-abs-shad {
    background-color: #ffffffb8;
    position: absolute;
    width: 550px;
    top: 2em;
    left: 6em;
    padding: 1em;
    font-size: 2em;
    border: 1px solid #ffffff;
    border-radius: 25px;
    -webkit-box-shadow: 10px 11px 38px 4px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 11px 38px 4px rgba(0,0,0,0.32);
    box-shadow: 10px 11px 38px 4px rgba(0,0,0,0.32);
}
.port--main-bg-top--rig-col-abs-shad span {
    font-family: "Pacifico", cursive;
}

.port--main-bg-top--rig-col-abs-shad p {
    font-size: 0.4em;
}
.port--main-bg-top--rig-col-abs-shad a {
    background-color: #783c28;
    padding: 0.7em 3em 0.7em 3em;
    border-radius: 25px;
   
    font-size: 0.5em;
    text-decoration: none;
    color: #ffffff;
}
.port--main-pre-body--top {
    background-color: #f5f5f5;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port--main-pre-body--top-child {
    background-color: #1e5d72;
    width: 40%;
    color: #ffffff;
    padding: 2em;
    border-radius: 25px;
}

.port--main-pre-body--mid-top {
    text-align: center;
    margin: 0;
    height: 410px;
}
.body--mid-top--paraph {
    font-weight: bold;
    font-size: 2em;
    color: #783c28;
} 
.port--main-pre-body--mid-top-window {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    margin: 0 auto;
}
.mid-top-window-child {
    border: 1px solid #000000;
    height: 200px;
    padding: 1em;
}
.mid-top-window-child span {
    color: #783c28;
}
.outlined-child--title {
    font-size: 1em;
    font-weight: bold;
    color: #783c28;
}
.outlined-child--paraph {
    font-size: 0.7em;
}
.port--main-pre-body--mid-port {
    text-align: center;
}
.body--mid-port-header {
    font-weight: bold;
    font-size: 2em;
    color: #783c28;
    margin-bottom: 1em;
}
.body--mid-port-work--grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 1290px;
    margin: 0 auto;
}
.body--mid-port-work--grid-child {
    background-color: #f1f1f1;
    border: 1px solid #e4e4e4;
    width: 420px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
}
.port--main-pre-body--mid--lower-port {
    background-color: #ffffff;
    
}
.port--main-pre-body--mid--lower-mid {
    width: 60%;
    margin: 3em auto;
    display: flex;
    height: 200px;
}
.port--main-pre-body--mid--lower-child {
    background-color: #000000;
    flex-grow: 1;
    margin-left: 0.7em;
    text-align: center;
    padding: 1em 0;
}
.port--main-pre-body--mid--lower-child h1 {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 3em;
}
.port--main-pre-body--mid--lower-child p {
    color: #ffffff;
    margin: 0;
}
.port--main-body--xp-main {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.port--main-body--xp-main-flex-l {
    height: 600px;
    background-color: #f3f3f3;
}
.port--main-body--xp-main-flex-l h1 {
    margin: 1em;
}
.port--main-body--xp-main-flex-r {
    background-color: #ffffff;
    height: 600px;
    background-image: url("./assets/coffeemug.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.xp-main-flex--flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 1.5em;
}
.xp-main-flex--flex-label {
    grid-column: 1;
    font-weight: bold;
}
.xp-main-flex--flex-media {
    grid-column: 2 / 4;
}
.xp-main-flex--flex-media-progbar {
    background-color: #c9c9c9;
    border-radius: 3px;
    padding: 0px;
}
.media-progbar--child {
    background: linear-gradient(90deg, #783c28 0%, #1e5d72 40%);
    width: 85%;
    /* Adjust with JavaScript */
    height: 12px;
    border-radius: 3px;
}
.port--main-body--xp-resume-main {

    text-align: center;
    height: auto;
}
.port--main-body--xp-resume-main button {
    background-color: #1e5d72;;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5em;
    border: none;
    width: 70%;
    font-size: 1em;
    font-weight: bold;
    margin: 2em 0 0 0;
}
.xp-resume-main--block {
    background-color: #eeeeee;
    width: 68.4%;
    margin: 0 auto;
    /*display: none; */
    overflow: hidden;
    text-align: start;
    padding: 1em;
}
.xp-resume-main--block p {
    background-color: #ffffff;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    font-size: 0.9em;
    border-radius: 3px;
    border: 1px solid #1e5d72;
    width: fit-content;
    display:inline-block;
}
.xp-resume-main--block h2 {
    font-size: 1.2em;
}
.xp-resume-main--block h3 {
    font-size: 0.9em;
}
.xp-resume-main--block li {
    font-size: 0.8em;
}
.xp-resume-main--block--cert {

}
.xp-resume-main--block--cert-img-container {
    text-align: center;
    padding: 0.5em;
}
.xp-resume-main--block--cert-img-container img {
    width: 95%;
}
.cert-img-caption {
    padding: 0;
}
.cert-img-caption a {
    text-decoration: none;
    color: #1e5d72;
    font-weight: bold;
}
.port--main-body--footer-main {
    background-color: #1e5d72;
    color: white;
    height: 400px;
    display: grid;
    gap: 0px;
    margin-top: 3em;
    grid-template-columns: repeat(2, 1fr);

}
.port--body--footer-main-l {
    padding: 1em;
}
.port--body--footer-main-l p {
    font-size:1em;
}
.port--body--footer-main-l p {
    font-size: 0.7em;
}
.port--body--footer-main-r {
    padding: 0;
}

.footer-main-l-contact--main {
    display: flex;
    width: 400px;
}
.footer-main-l-contact-icon {
    padding: 0;
}
.footer-main-l-contact-icon span{
    font-size: 1.4em;
}
.footer-main-l-contact-text {
    padding-top: 0.25em;
    margin-left: 0.5em;
    font-size: 0.8em;
}

.footer-main-l-social-media--main {
    margin-top: 2em;
    font-size: 2em;
}
.footer-main-l-footer--info {
    margin-top: 0.9em;
    font-size: 0.8em;
}
.footer-main-r-form--main {
    margin: 0;
}
.footer-main-r-form--main-label {
    font-size: 0.8em;
    padding: 0.7em 0;
}
.footer-main-r-form--main-input {
    padding: 0;
}
.footer-main-r-form--main-input input[type=text] {
    height: 30px;
    border-radius: 5px;
    border: 0;
    width: 75%;
    outline: none;
    padding: 0.1em;
}
.footer-main-r-form--main-input textarea {
    height: 90px;
    border-radius: 5px;
    border: 0;
    width: 75%;
    padding: 0.3em;
}
.footer-main-r-form--main  input[type=submit] {
    height: 30px;
    border-radius: 5px;
    margin-top: 1em;
    border: 0;
    width: 25%;
    outline: none;
    padding: 0.1em;
}

